@reference "../styles/index.css";

.main {
  @apply flex-1 flex flex-col xl:grid xl:grid-cols-[1fr_1.5fr_1fr] p-4 gap-4;
}

@keyframes move-dots {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}

.dotted-background {
  background-image: radial-gradient(
    circle,
    color-mix(in srgb, var(--color-base-content) 20%, transparent) 1.5px,
    transparent 1px
  );
  background-size: 20px 20px;
  animation: move-dots 10s linear infinite;
}
